@CHARSET "ISO-8859-1";
h2 {
  border-bottom: 1px dashed #999;
  margin-left: 4px;
}

.cjax_dialog,#cjax_dialog {
	position:relative;
	background-color:#FAFAFA;
	border-color:#CCCCCC;
	border-style:dotted !important;
	border-width:1px 2px 1px 2px !important;
	margin:12px -47% 22px; 
	padding:25px 5px 20px 5px !important;
	color: #646464;
	text-align: left;
	width: 94%;
	left: 50%;
	font-size: 12px;
	word-wrap: break-word;
	font-family: tahoma;
	letter-spacing: 1px;
}

.cjax_dialog_title {
	position:relative; 
	text-align: left;
	padding-left:10px; 
	margin-top: -20px;
	top: -15px;
	font-weight: bolder;
}


.table a:link {
		text-decoration:  none;
	}
	
	.table tr:hover {
		 background-color: #F9F9F9;
	}
	
	
	.table {
		position: relative;
		width: 90%;
		border: 1px solid #DFDFDF;
		background-color: #F9F9F9;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		font-family: Verdana,Helvetica;;
		color: #0B6695;
		font-size: 11px;
	}
	
	 .table td a {
		color: #0B6695 !important;
		font-family: Verdana,Helvetica;
	}
	
	.table td, .table th {
		border-top-color: white;
		border-bottom: 1px solid #DFDFDF;
		color: #555;
	}
	
	.table td {
		padding: 5px 5px 5px 2px;
		vertical-align: top;
	}
	
	
	.table th {
		text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
		font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
		font-weight: normal;
		padding: 3px;
		text-align: left;
		line-height: 1.3em;
		font-size: 14px;
	}
	.table th:hover {
		cursor: pointer;
	}
	
	.table tr {
		-moz-border-bottom-colors: none;
	    -moz-border-image: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: #E6E6E6 #BFBFBF;
	    border-style: solid;
	    border-width: 1px;
	    margin-bottom: -1px;
	}
	
	
