@CHARSET "ISO-8859-1";

body{ /*height:100%*/ }

.cjax_overlay {
	display:none;
	position: fixed;
	_position: absolute; /* IE */
	top:0;
	left:0;
	width:100%;
	height:150%;
	z-index:4000;
	background-color:#000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	margin-bottom: 100px;
}


.cjax_dialog,#cjax_dialog {
	position:relative;
	background-color:#FAFAFA;
	border-color:#CCCCCC;
	border-style:dotted !important;
	border-width:1px 2px 1px 2px !important;
	padding: 25px 5px 5px 5px !important;
	_padding: 25px 5px 5px 5px !important;
	margin: 15px 0px 15px 0px;
	color: #646464;
	text-align: left;
	width: 95%;
	margin-left: -48.5%;
	_margin-left: -50.5%;/* IE */
	left: 50%;
	font-size: 12px;
	word-wrap: break-word;
	font-family: tahoma;
	letter-spacing: 1px;
}



#cjax_message_overlay {
	position: absolute;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	
}

.cjax_overlay_window {
	position:relative;
	padding: 2px 0px 5px 0px;
	background-color: #616161;
	-moz-border-radius: 12px;
	width: 100%;
	border-radius: 12px;
}


.cjax_dialog_title {
	position:relative; 
	text-align: left;
	padding-left:10px; 
	margin-top: -20px;
	top: -15px;
	font-weight: bolder;
}


	.cjax_overlay_title {
		height: 30px;
	}
		.cjax_overlay_title_x {
			position: relative;
			z-index: 99999 !important;
			top: -2px;
		}
		
		.cjax_overlay_title_x a {
			background-image: url(../images/close-x.png);
			background-repeat: no-repeat;
			width: 25px;
			height: 25px;
			float: right;
			z-index: 9999;
		}
		.cjax_overlay_title_x a:hover {
			background-image: url(../images/close-x-hover.png);
			background-repeat: no-repeat;
			width: 25px;
			height: 25px;
			float: right;
			z-index: 9999;
		}
		
		
		.cjax_overlay_content {
			position:relative;
			top: 23px;
			background-color: #fff;
			z-index: 5000;
			padding: 5px 5px 4px 5px;
			border-radius: 0px 0px 15px 15px;
			-moz-border-radius: 0px 0px 15px 15px;
			-webkit-border-radius: 0px 0px 15px 15px;
			text-align: left;
		}



.cjax_prompt_box_class {
    position:relative; 
    background-color: aqua;
    border-style: solid;
    border-color: #0093D9;
    background-color: #F0F0F0;
    padding: 1px 0px 1px 0px;
    min-width: 440px;
}

.cjax_success {
	position: relative;
	border-style: solid;
	border-color: #0080FF;
	border-width: 1px;
	background-color: #CCEEFF;
	font-family: tahoma;
	background-image: url(../images/ok.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 12px 20px 10px 42px !important;
	font-size: 13px;
	word-spacing: 1px !important;
	letter-spacing: 1px;
	color: #000;
	font-weight: bolder;
	z-index: 9999;
}



.cjax_loading {
	position: relative;
	border-style: solid;
	border-color: #0080FF;
	border-width: 1px;
	background-color: #CCEEFF;
	font-family: tahoma;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: 12px 15px;
	padding: 12px 20px 10px 64px !important;
	font-size: 13px;
	word-spacing: 1px !important;
	letter-spacing: 1px;
	color: #000;
	font-weight: bolder;
	z-index: 9999;
}

	.cjax_loading_f {
		letter-spacing: 3px;
		background-image: url(../images/loadingf.gif) ;
		background-repeat: no-repeat;
		padding: 10px !important;
		margin: 5px;
		z-index: 9999;
	}

.cjax_warning {
	position: relative;
	border-style: solid;
	border-color: #73E600;
	border-width: 1px;
	background-color: #FF9933;
	background-image: url(../images/alert.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 12px 20px 10px 42px !important;
	font-family: tahoma;
	font-size: 13px;
	word-spacing: 1px !important;
	letter-spacing: 1px;
	z-index: 9999;
}

.cjax_error {
	position: relative;
	border-style: solid;
	border-color: #73E600;
	border-width: 1px;
	padding: 12px 20px 14px 42px !important;
	background-image: url(../images/error.gif);
	background-color: #E7032B;
	background-repeat: no-repeat;
	background-position: 0px 2px;
	font-size: 13px;
	word-spacing: 1px !important;
	letter-spacing: 1px;
	color: #fff;
	font-weight: bolder;
	z-index: 9999;
}

.cjax_process {
	position: relative;
	border-style: solid;
	border-color: #0080FF;
	border-width: 1px;
	background-color: #fff;
	font-family: tahoma;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 12px 20px 10px 42px !important;
	font-size: 13px;
	word-spacing: 1px !important;
	letter-spacing: 1px;
	color: #000;
	font-weight: bolder;
	z-index: 9999;
}

.cjax_info {
	position: relative;
	border-style: solid;
	border-color: #0080FF;
	border-width: 1px;
	background-color: #fff;
	font-family: tahoma;
	background-image: url(../images/process.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 12px 20px 10px 42px !important;
	font-size: 13px;
	word-spacing: 1px !important;
	letter-spacing: 1px;
	color: #000;
	font-weight: bolder;
}

.cjax_message_type {
	border-style: solid;
    width: auto; 
    padding: 10px 20px 6px 20px;
    height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}