<div style='clear:both'></div>
<div>
	<table class='tb_options' width="100%" style="clear:both"{if isset($table_class) AND $table_class} class="{$table_class} row_option"{else} class="row_option"{/if}>
	<tbody{if $table_id} id='{$table_id}'{/if}'>
	<tr align="{$align}">
	{foreach from=$options key=key item=item}
		{*<th{if NOT is_numeric($key)} class='sorttable_nosort'{/if}>{$item}</th>*}
		<th{if isset($classes.$key) AND $classes.$key} class='sortable-{$classes.$key}'{/if}>{$item}</th>
	{/foreach}
	</tr>
	{$rows}
	</tbody>
	</table>
</div>
