<div id='cjax_overlay_window' class='cjax_overlay_window'>
	<div id='cjax_overlay_window_inner'>
		<div id='cjax_overlay_title' class='cjax_overlay_title'>
			<div id='cjax_overlay_title_x' class='cjax_overlay_title_x'>
				<a id='cjax_overlay_title_x_a' href='javascript:void(0);' onclick='CJAX._removeOverLay()'></a>
			</div>
			<div id='cjax_overlay_content' class='cjax_overlay_content'>
				<div id='overlay'><div class='cjax_loading_f' style='text-align: center !important;'></div></div>
			</div>&nbsp;
		</div>
	</div>
</div>